.features {
   position: relative;
   width: 100%;
   height: 1029px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-top: 96px;
}

.features-title {
   width: 1248px;
   height: 158px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.features-title>*:nth-child(2) {
   margin-top: 16px;
}


.features-title>*:nth-child(3) {
   margin-top: 10px;
}

.features-1 {
   width: 1248px;
   height: 679px;
   border: 1px solid #D0D5DD;
   border-radius: 24px;
   overflow: hidden;
}

.feature-detail {
   width: 1248px;
   height: 606px;
   display: flex;
   justify-content: center;
   align-items: start;
   gap: 40px;
   padding: 80px 0px 80px 80px;
}

.content-feature-detail {
   width: 420px;
   height: auto;
   display: flex;
   flex-direction: column;
   gap: 30px;
   justify-content: center;
}

.content-feature-detail h2 {
   font-size: 28px;
   font-weight: 600;
}

.content-feature-detail p {
   width: 100%;
   font-size: 18px;
   font-weight: 600;
   text-align: left;
}

.box-img-feature {
   width: 700px;
   height: 100%;
   background-color: azure;
   overflow-x: hidden;
   overflow-y: hidden;
}

.feature-detail img {
   width: 790px;
   height: 446px;
   border-radius: 24px;
   border: 4px solid #BDE4FF;
}

.features-title h1 {
   font-size: 32px;
   font-weight: 600;
   text-align: center;
}

.features-title p {
   font-size: 18px;
   font-weight: 500;
   text-align: center;
   margin-top: 16px;
   color: #475467;
}



.menu-features-1 {
   width: 1248px;
   height: 72px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 1px solid #D0D5DD;
   border-radius: 24px 24px 0px 0px;
   font-size: 16px;
   font-weight: 600;
}

.menu-features-1 button.active-menu-feature {
   background: #375DFA;
   color: #FFFFFF;
   transition: 0.3s;
}

.menu-features-1 button:first-child {
   border-radius: 24px 0 0 0;
}

.menu-features-1 button:last-child {
   border-radius: 0 24px 0 0;
}

.menu-features-1 button {
   width: 178px;
   height: 100%;
   border: none;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   border: none;
   background: transparent;
   cursor: pointer;
   gap: 8px;
}

.box-icon {
   width: 32px;
   height: 32px;
   background: #375DFA;
   color: #FFFFFF;
   font-size: 15px;
   border-radius: 8px;
   display: flex;
   /* cho icon text ở giữa */
   align-items: center;
   justify-content: center;
}

.active-menu-feature .box-icon {
   background: #FFFFFF;
   color: #375DFA;
}

.box-icon ion-icon {
   width: 25px;
   height: 25px;
}

.box-icon svg {
   width: 24px;
   height: 24px;
   color: #ffffff;
   /* màu mặc định */
}

.active-menu-feature .box-icon svg {
   color: #375DFA;
   /* màu khi active */
}

@media (max-width: 1440px) {
   .features {
      position: relative;
      width: 100%;
      height: calc(1029 / 1440 * 100vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: calc(96 / 1440 * 100vw);
   }

   .features-title {
      width: 100%;
      height: calc(158 / 1440 * 100vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .features-title>*:nth-child(2) {
      margin-top: calc(16 / 1440 * 100vw);
   }


   .features-title>*:nth-child(3) {
      margin-top: calc(16/ 1440 * 100vw);
   }

   .features-1 {
      width: 100%;
      height: calc(697 / 1440 * 100vw);
      border-radius: 24px;
      overflow: hidden;
   }

   .feature-detail {
      width: 100%;
      height: calc(666 / 1440 *100vw);
      display: flex;
      justify-content: center;
      align-items: start;
      gap: calc(40 / 1440 * 100vw);
      padding: calc(80 / 1440 * 100vw) 0px calc(80 / 1440 * 100vw)calc(80 / 1440 * 100vw)
   }

   .content-feature-detail {
      width: calc(420 / 1440 * 100vw);
      height: auto;
      display: flex;
      flex-direction: column;
      gap: calc(30 / 1440 * 100vw);
      justify-content: center;
   }

   .content-feature-detail h2 {
      font-size: calc(28 / 1440 * 100vw);
      font-weight: 600;
   }

   .content-feature-detail p {
      width: 100%;
      font-size: calc(18 / 1440 * 100vw);
      font-weight: 600;
      text-align: left;
   }

   .box-img-feature {
      width: calc(700 / 1440 * 100vw);
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
   }

   .feature-detail img {
      width: calc(790 / 1440 * 100vw);
      height: calc(446 / 1440 * 100vw);
      border-radius: 24px;
   }

   .features-title h1 {
      font-size: calc(32 / 1440 * 100vw);
      font-weight: 600;
      text-align: center;
   }

   .features-title p {
      font-size: calc(18 / 1440 * 100vw);
      font-weight: 500;
      text-align: center;
      margin-top: calc(16 / 1440 * 100vw);
   }

   .menu-features-1 {
      width: 100%;
      height: calc(72 / 1248 * 100vw);
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: calc(24 / 1440 * 100vw)calc(24 / 1440 * 100vw)0px 0px;
      font-size: calc(16 / 1440 * 100vw);
      font-weight: 600;
   }

   .menu-features-1 button.active-menu-feature {
      transition: 0.3s;
   }

   .menu-features-1 button:first-child {
      border-radius: calc(24 / 1440 * 100vw) 0 0 0;
   }

   .menu-features-1 button:last-child {
      border-radius: 0 calc(24 / 1440 * 100vw) 0 0;
   }

   .menu-features-1 button {
      width: calc(178 / 1248 * 100vw);
      height: 100%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: calc(8 / 1248 * 100vw) calc(16 / 1248 * 100vw);
      border: none;
      background: transparent;
      cursor: pointer;
      gap: calc(8 / 1248 * 100vw);
   }

   .box-icon {
      width: calc(32 / 1248 * 100vw);
      height: calc(32 / 1248 * 100vw);
      font-size: calc(15 / 1248 * 100vw);
      border-radius: calc(8 / 1248 * 100vw);
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .box-icon ion-icon {
      width: calc(25 / 1248 * 100vw);
      height: calc(25 / 1248 * 100vw);
   }
   .box-icon svg {
      width: calc(24 / 1248 * 100vw);
      height: calc(24 / 1248 * 100vw);
   }
   button.menu-features-1{
      font-size: calc(16 / 1440 * 100vw);
   } 
}