footer {
    width: 100%;
    height: 372px;
    background-color: lightgreen;
    padding: 64px 96px 32px 96px;

}

.main-footer{
    width: 100%;
    background-color: rgb(17, 4, 17);
    height: 156px;
    margin: 0 auto;
}

@media (min-width: 1440px){
    footer{
        max-width: 100%;
        padding-left: auto;
        padding-right: auto;
        height: 372px;
    }
    .main-footer{
        width: 1248px;
        background-color: rgb(17, 4, 17);
        height: 156px;
        margin: 0 auto;
    }
}

@media (max-width: 1441px){
    .main-footer{
        width: 90%;
        background-color: rgb(17, 4, 17);
        height: calc(157 / 1440 * 100vw);
    }

}