@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.header {
    width: 100vw;
    height: calc(60 * 100vw / 1440);
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 20px 48px 20px 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* scale padding theo width thiết kế */
    padding: calc(5px * 100vw / 1440) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* width và height scale */
    width: calc(140px * 100vw / 1440);
    height: calc(48px * 100vw / 1440);

    /* nếu muốn logo luôn căn giữa cha theo horizontal và vertical */
    position: relative;
    left: calc((1440px - 140px) / 2 * 100vw / 1440); /* căn giữa theo width */
    top: calc((1032px - 48px) / 2 * 100vw / 1440);   /* căn giữa theo height */
}

.logo img {
    width: calc(38 * 100vw / 1440);
    height: calc(38 * 100vw / 1440);
}


.logo h1 {
    width: calc(90 / 1440 * 100vw);
    height: calc(48 / 1440 * 100vw);
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    line-height: calc(48 / 1440 * 100vw);
    background: linear-gradient(to right, #1697CF, #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: calc(817 / 1440 * 100vw);
    height: calc(48 / 1440 * 100vw);
}

.ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
    list-style-type: none;
    width: calc(751 * 100vw / 1400);
    height: calc(48 / 1440 * 100vw);
    gap: calc(24 * 100vw / 1440);
}

.ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: calc(18 / 1440 * 100vw);
    font-weight: 500;
}


.btn-header {
    width: calc(237/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    font-size: calc(16 / 1440 * 100vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-header-login {
    width: calc(123/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    border: #D0D5DD 1px solid;
    background-color: #FFFFFF;
    border-radius: calc(10 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);

}

.btn-header-signup {
    width: calc(102/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    border: none;
    border-radius: 10px;
    padding: 0px;
    background-color: #375DFA;
    color: #FFFFFF;
    font-size: calc(16 / 1440 * 100vw);
}

@media (max-width: 973px) {
    .ul-menu li {
        padding-bottom: calc(10 / 1440 * 100vw);
    }
    .menu{
        margin-left: calc(20 / 1440 * 100vw);
    }
}


@media (max-width: 629px) {
     .ul-menu li {
        padding-bottom: calc(20 / 1440 * 100vw);
    }
}

@media (max-width: 1440px){
.header {
    width: 100vw;
    height: calc(60 * 100vw / 1440);
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 20px 48px 20px 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* scale padding theo width thiết kế */
    padding: calc(5px * 100vw / 1440) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* width và height scale */
    width: calc(140px * 100vw / 1440);
    height: calc(48px * 100vw / 1440);

    /* nếu muốn logo luôn căn giữa cha theo horizontal và vertical */
    position: relative;
    left: calc((1440px - 140px) / 2 * 100vw / 1440); /* căn giữa theo width */
    top: calc((1032px - 48px) / 2 * 100vw / 1440);   /* căn giữa theo height */
}

.logo img {
    width: calc(38 * 100vw / 1440);
    height: calc(38 * 100vw / 1440);
}


.logo h1 {
    width: calc(90 / 1440 * 100vw);
    height: calc(48 / 1440 * 100vw);
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    line-height: calc(48 / 1440 * 100vw);
    background: linear-gradient(to right, #1697CF, #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: calc(817 / 1440 * 100vw);
    height: calc(48 / 1440 * 100vw);
}

.ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
    list-style-type: none;
    width: calc(751 * 100vw / 1400);
    height: calc(48 / 1440 * 100vw);
    gap: calc(24 * 100vw / 1440);
}

.ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: calc(18 / 1440 * 100vw);
    font-weight: 500;
}


.btn-header {
    width: calc(237/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    font-size: calc(16 / 1440 * 100vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-header-login {
    width: calc(123/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    border: #D0D5DD 1px solid;
    background-color: #FFFFFF;
    border-radius: calc(10 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);

}

.btn-header-signup {
    width: calc(102/ 1440 *100vw);
    height: calc(48 / 1440 *100vw);
    border: none;
    border-radius: 10px;
    padding: 0px;
    background-color: #375DFA;
    color: #FFFFFF;
    font-size: calc(16 / 1440 * 100vw);
}
}