.why-select-zework {
    width: 100%;
    height: 3967px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 96px;
    align-items: center;
    max-height: 3967px;
    margin-top: 96px;
    padding-bottom: 96px;
    position: relative;
}

.why-select-zework-title {
    width: 50%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.why-select-zework-title h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

/* why select 1 */
.why-select-zework-1 {
    width: 1248px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-why-select-zework-1 {
    width: 612px;
    height: 100%;
    border-radius: 10px;

}

.right-why-select-zework-1 {
    width: 557px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    padding: 103px 0px 103px 0px;
}

.title-right-why-select-zework-1 {
    width: 100%;
    height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-right-why-select-zework-1 h3 {
    font-size: 32px;
    width: 343px;
    font-weight: 600;
}

.content-right-why-select-zework-1 {
    width: 100%;
    height: auto;
}

.content-right-why-select-zework-1 div {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    gap: 24px;
    font-size: 18px;
}

.content-right-why-select-zework-1 div .list-pink-icon {
    width: 18px;
    height: 2px;
    background: linear-gradient(to right, #f06292, #f8bbd0);
    /* gradient hồng */
    border-radius: 1px;
    /* bo nhẹ 2 đầu */
}

.content-right-why-select-zework-1 div .list-pink-icon::after,
.content-right-why-select-zework-1 div .list-pink-icon::before,
.content-right-why-select-zework-1 div .list-pink-icon .extra-pink {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background: linear-gradient(to right, #f06292, #f8bbd0);
    border-radius: 1px;
    /* bo nhẹ 2 đầu thanh */
}

.content-right-why-select-zework-1 div .list-pink-icon::after {
    transform: rotate(90deg);
}

.content-right-why-select-zework-1 div .list-pink-icon::before {
    transform: rotate(-50deg);
}

.content-right-why-select-zework-1 div .list-pink-icon .extra-pink {
    transform: rotate(50deg);
}

/* end why select 1 */

/* .why-select-zework-3 */
.why-select-zework-3 {
    width: 1248px;
    height: 820px;
    padding-top: 64px;
    background-color: #F9FAFB;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-why-select-zework-3 {
    width: 1140px;
    height: 94px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left-top-why-select-zework-3 {
    width: 473px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.left-top-why-select-zework-3 h3 {
    font-size: 32px;
    font-weight: 600;
}

.right-top-why-select-zework-3 {
    width: 495px;
    height: 56px;

}

.right-top-why-select-zework-3 p {
    font-size: 18px;
    font-weight: 500;
    width: 495px;
    color: #475467;
    margin-top: 10px;
}

.bottom-why-select-zework-3 {
    width: 1128px;
    height: 600px;
    padding: 64px;
}
.bottom-why-select-zework-3 img{
    width: 100%;
    height: 100%;
}
/* end why select 3 */

.why-select-zework-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/* why-ze-1 thuoc tinh chua anh cua tungcai */

@media (max-width: 1440px) {
    p {
        font-size: calc(18 / 1440 * 100vw);
        line-height: calc(28 / 1440 * 100vw);

    }
    .why-select-zework-1 img{
        width: 100%;
        height: 100%;
    }
    .why-select-zework {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: calc(3967 / 1440 * 100vw);
        gap: calc(96 / 1440 * 100vw);
        margin-top: 96px calc(96 / 1440 *100vw);
        padding-bottom: calc(96 /1440 * 100vw);
    }

    .why-select-zework-title {
        width: 50%;
        height: calc(128 / 1440 * 100vw);
    }

    .why-select-zework-title h2 {
        font-size: calc(48 / 1440 * 100vw);
    }

    .why-select-zework-1 {
        width: calc(1248 / 1440 * 100vw);
        /* width co theo viewport */
        height: calc(600 / 1440 * 100vw);
        /* height co tương ứng */
        max-width: 1248px;
        /* khi lớn hơn 1440px thì giữ nguyên */
        max-height: 600px;
        margin: 0 auto;
        /* căn giữa */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .left-why-select-zework-1 {
        width: calc(612 / 1440 * 100vw);
    }

    .right-why-select-zework-1 {
        width: calc(557 / 1440 * 100vw);
        padding: calc(103 / 1440 * 100vw) 0;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calc( 64 / 1440 *100vw)
    }

    .title-right-why-select-zework-1 {
        padding:
            calc(10 / 1440 * 100vw) calc(243 / 1440 * 100vw) calc(5 / 1440 * 100vw) 0;
        height: calc(142 / 1440 * 100vw);
          display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title-right-why-select-zework-1 h3 {
        font-size: calc(32 / 1440 * 100vw);
        width: calc(343 / 1440 * 100vw);
        margin-top: calc(30 /1440 *100vw);
    }

    .content-right-why-select-zework-1 div {
        height: calc(52 / 1440 * 100vw);
        gap: calc(24 / 1440 * 100vw);
    }

    .content-right-why-select-zework-1 div .list-pink-icon,
    .content-right-why-select-zework-1 div .list-pink-icon::after,
    .content-right-why-select-zework-1 div .list-pink-icon::before,
    .content-right-why-select-zework-1 div .list-pink-icon .extra-pink {
        width: calc(18 / 1440 * 100vw);
        height: calc(2 / 1440 * 100vw);
    }

    .why-select-zework-3 {
        width: 100%;
        height: calc(820 / 1440 * 100vw);
        padding-top: calc(64 / 1440 * 100vw);
    }

    .title-right-why-select-zework-1 h3 {
        font-size: calc(32 / 1440 * 100vw);
        width: calc(343 / 1440 * 100vw);
    }

    .why-select-zework-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .why-select-zework-3 {
        width: calc(1248 / 1440 * 100vw);
        height: calc(820 / 1440 * 100vw);
        padding-top: calc(64 / 1440 * 100vw);
        background-color: #F9FAFB;
        border: 1px solid #D0D5DD;
        border-radius: calc(24 / 1440 * 100vw);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .top-why-select-zework-3 {
        width: calc(1140 / 1440 * 100vw);
        height: calc(94 / 1440 * 100vw);
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .left-top-why-select-zework-3 {
        width: calc(473 / 1440 * 100vw);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: calc(16 / 1440 * 100vw);
    }

    .left-top-why-select-zework-3 h3 {
        font-size: calc(32 / 1440 * 100vw);
        font-weight: 600;
    }

    .right-top-why-select-zework-3 {
        width: calc(495 / 1440 * 100vw);
        height: calc(56 / 1440 * 100vw);
    }

    .right-top-why-select-zework-3 p {
        font-size: calc(18 / 1440 * 100vw);
        font-weight: 500;
        width: 100%;
        color: #475467;
        margin-top: calc(10 / 1440 * 100vw);
    }

    .bottom-why-select-zework-3 {
        width: calc(1128 / 1440 * 100vw);
        height: calc(600 / 1440 * 100vw);
        padding: calc(64 / 1440 * 100vw);
    }
    .bottom-why-select-zework-3 img{
        width: 100%;
        height: 100%;
    }
}
