.ask-suport {
    width: 144rem;
    height: auto;
    padding: 0rem 9.6rem 9.6rem 9.6rem;
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
}

.ask-suport-packages {
    width: 61.1rem;
    height: 15.8rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ask-suport-packages h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #21164C;
    line-height: 4.8rem;
}

.ask-suport-packages p {
    color: #475467;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.list-ask-suport {
    width: 61.3rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.head-list-ask-suport {
    width: 61.3rem;
    height: 21.6rem;
    padding: 3.2rem 0rem 3.2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.4rem;
}

.head-list-ask-suport svg {
    width: 2.4rem;
    height: 2.4rem;
}

.head-list-ask-suport p {
    color: #375DFA;
    width: 56.5rem;
    height: 2.8rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.head-list-ask-suport span {
    width: 61.3rem;
    height: 8.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #475467;
}

.body-list-ask-suport {
    width: 61.3rem;
    height: 9.2rem;
    border-top: 1px solid #EAECF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 0rem;
}

.body-list-ask-suport svg {
    width: 2.4rem;
    height: 2.4rem;
}

.body-list-ask-suport p {
    color: #475467;
    font-size: 1.8rem;
    font-weight: 500;
}

@media (max-width:430px) {
    .ask-suport {
        width: 37.5rem;
        height: 128.4rem;
        padding: 3.2rem 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    .ask-suport-packages {
        width: 34.3rem;
        height: 11.2rem;
        padding-right: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ask-suport-packages h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #21164C;
        line-height: 2.4rem;
    }

    .ask-suport-packages p {
        color: #475467;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
    }

    .list-ask-suport {
        width: 34.3rem;
        height: 109.2rem;
    }

    .head-list-ask-suport p {
        color: #375DFA;
        width: 29.5rem;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .head-list-ask-suport {
        width: 34.3rem;
        height: 21.6rem;
        padding: 3.2rem 0rem 3.2rem 0rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2.4rem;
    }

    .head-list-ask-suport svg {
        padding-top: 0.8rem;
        width: 2.4rem;
        height: 2.4rem;
    }

    .head-list-ask-suport span {
        width: 34.3rem;
        height: 8rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #475467;
    }

    .body-list-ask-suport {
        width: 34.3rem;
        height: auto;
        border-top: 1px solid #EAECF0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 3.2rem 0rem;
    }

    .body-list-ask-suport svg {
        width: 1.6rem;
        height: 1.6rem;
    }

    .body-list-ask-suport p {
        width: 29.5rem;
        height: auto;
        color: #475467;
        font-size: 1.5rem;
        font-weight: 500;
    }
}