.contaier-packages {
    width: 144rem;
    height: 147.8rem;
    padding: 9.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tittle-packages {
    width: 100%;
    height: 16.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tittle-packages h1 {
    font-size: 3.2rem;
}

.tittle-packages p {
    font-size: 1.8rem;
    width: 70rem;
    text-align: center;
    color: #475467;

}


.table-packages {
    width: 124.8rem;
    height: 105.6rem;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.title-tbl-packages {
    width: 124.8rem;
    height: 9.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.title-tbl-packages h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 5.6rem;
    color: #21164C;
}

.title-detail-tbl-packages {
    width: 76rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-detail-tbl-packages h2 {
    width: 15.2rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.detail-row {
    width: 124.8rem;
    height: 9.6rem;
    display: flex;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    justify-content: space-between;
    align-items: center;
}

.right-detail-row {
    width: 76rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.right-detail-row p {
    width: 15.2rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.row-active-bgr {
    background-color: #F9FAFB;
    border-top: 1px solid #EAECF0;
    border-bottom: 1px solid #EAECF0;
}

.title-color {
    color: #375DFA;
}

.right-detail-row i.fa-check {
    color: #FF82F9;
    margin-right: 0.6rem;
}

.detail-row h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

@media (max-width:400px) {

    .contaier-packages {
        width: 37.5rem;
        height: 136.8rem;
        padding: 3.2rem 1.6rem;
        gap: 5rem;
    }

    .tittle-packages {
        width: 34.3rem;
        height: 11.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .tittle-packages h1 {
        font-size: 1.8rem;
    }

    .tittle-packages p {
        font-size: 1.4rem;
        width: 100%;
    }

    .table-packages {
        width: 34.3rem;
        height: 116.8rem;
        gap: 1.2rem;
    }
    .title-tbl-packages{
        padding: 0rem;
        height: 4.8rem;
    }

    .title-tbl-packages h1 {
        display: none;
    }

    .title-detail-tbl-packages {
        width: 34.3rem;
        height: 4.8rem;
        background-color: #EFF3FF;
        border-radius: 1.2rem;
        align-items: center;
    }

    .title-detail-tbl-packages h2 {
        width: 6.86rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .detail-row {
        width: 34.3rem;
        height: 9.2rem;
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.2rem;
        border: none;
    }
    .detail-row h1{
        width: 34.3rem;
        height: auto;
        background-color: #F2F4F7;
        padding: 1.2rem 1.6rem;
        font-size: 1.4rem;
        border-radius: 1.2rem 1.2rem 0rem 0rem;
    }
    .right-detail-row {
        width: 34.3rem;
        height: 4.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .right-detail-row p {
        width: 6.86rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #475467;
    }
}