.tittle-packages{
    width: 100%;
    height: 16.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tittle-packages h1{
    font-size: 3.2rem;
}
.tittle-packages p{
    font-size: 1.8rem;
    width: 70rem;
    text-align: center;
    color: #475467;

}