.container-price {
    width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-price {
    width: 144rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    align-items: center;
    gap: 9.6rem;
}

@media (max-width:430px) {
    .container-price {
        width: 37.5rem;
    }
}