footer {
    width: 100%;
    height: calc(336px + 372px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.CTA {
    width: 100vw;
    height: 348px;
    /* border: 1px solid black; */
    position: relative;
    background-image: linear-gradient(#A3C9FF4A);
    opacity: 0.9;
    padding: 64px 0px 64px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url("/img/grid.svg") no-repeat center/cover;
    background-color: aliceblue;
}

.CTA h1{
    z-index: 44;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.CTA p{
     z-index: 44;
     font-family: 'Plus Jakarta Sans', sans-serif;
     font-size: 24px;
     font-weight: 500;
     color: #475467;
}
.main-footer{
    width: 1248px;
    height: 156px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.logo-footer{
    width: 140px;
    height: 48px;
}
.logo-footer img{
    width: 70px;
    margin-left: -15px;
}
.logo-footer h1{
    font-size: 24px;
}
.left-main-footer{
    width: 320px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    line-height: 24px;
}
.right-main-footer{
    width: 864px;
    height: 156px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.right-main-footer p{
    margin-bottom: 12px
}
.right-main-footer h2{
    font-size: 16px;
    margin-bottom: 16px;
}
.right-main-footer p{
    font-size: 14px;
    color: #475467;
}
.right-main-footer div:nth-child(1) {
    width: 192px;
    height: 100%;
}

.right-main-footer div:nth-child(2) {
    width: 192px;
    height: 100%;
}

.right-main-footer div:nth-child(3) {
    width: 192px;
    height: 100%;
}

.right-main-footer div:nth-child(4) {
    width: 192px;
    height: 100%;
}
.bottom-footer{
    width: 1248px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    color: #475467;
    margin: 0 auto;
}
.icon-Social{
    width: 120px;
    height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-Social a{
    width: 25px;
    height: 25px;
    color: #475467;
}
.icon-Social svg{
    width: 24px;
    height: 24px;
}
/* @media (min-width: 1440px){
    footer{
        max-width: 100%;
        padding-left: auto;
        padding-right: auto;
        height: 372px;
    }
    .main-footer{
        width: 1248px;
        background-color: rgb(17, 4, 17);
        height: 156px;
        margin: 0 auto;
    }
}

@media (max-width: 1441px){
    .main-footer{
        width: 90%;
        background-color: rgb(17, 4, 17);
        height: calc(157 / 1440 * 100vw);
    }

} */