@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
        html,
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            /* ẩn scroll ngang */
            overflow-y: auto;
            /* scroll dọc nếu cần */
            height: 100%;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            text-decoration: none;
        }

header {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 48px;
}

.content-header {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.content-header .logo img {
    width: 38px;
    height: 38px;
}


.logo h1 {
    width:90px;
    height:48px;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    background: linear-gradient(to right, #1697CF, #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: 755px;
    height: 40px;
    display: flex;
    align-items: center;
}
.ul-menu a.active-menu {
  color: #375DFA;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 755px;
    height: 40x;
    gap: 24px;
}

.ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.btn-header {
    width: 353px;
    height: 48px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-change-languege{
    width: 104px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.btn-change-languege svg{
    width: 64px;
    height: 36px;
}
.drop-dow svg{
    width: 18px;
    height: 18px;
}
.btn-header-login {
    width: 123px;
    height: 48px;
    border: #D0D5DD 1px solid;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;

}

.btn-header-signup {
    width: 102px;
    height: 48px;
    border: none;
    border-radius: 10px;
    padding: 0px;
    background-color: #375DFA;
    color: #FFFFFF;
    font-size: 16px;
}
/* 
@media (min-width: 1440px) {
    .header {
        max-width: 100%;
        padding-left: auto;
        padding-right: auto;
        height: 5rem;
    }
    .content-header .logo img {
        width: 2rem;
        height: 2rem;
    }
    .logo h1 {
        height: auto;
        font-size: large;
        font-weight: 700;
        line-height: calc(48 / 1440 * 100vw);
        background: linear-gradient(to right, #1697CF, #55BB00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ul-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        width: 100%;
        height: 4rem;
        gap: 1rem;
    }

    .btn-header-signup {
        width: 8rem;
        height: 3rem;
        border: none;
        border-radius: 10px;
        padding: 0px;
        background-color: #375DFA;
        color: #FFFFFF;
        font-size: large;
    }

    .btn-header-login {
        width: 8rem;
        height: 3rem;
        border: #D0D5DD 1px solid;
        background-color: #FFFFFF;
        border-radius: 10px;
        font-size: large;

    }

    .btn-header {
        width: 25rem;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}
} */

/* @media(max-width: 991px){
        .header {
            height: 36px;
        }
} */

/* @media (max-width: 1440px) {
    .header {
        width: 100%;
        top: 0;
        z-index: 999;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: calc(140 /1440 * 100vw);

    }

    .logo {
       
        padding: calc(5px * 100vw / 1440) 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

       
        width: calc(140px * 100vw / 1440);
        height: calc(48px * 100vw / 1440);

      
        position: relative;
        left: calc((1440px - 140px) / 2 * 100vw / 1440);

        top: calc((1032px - 48px) / 2 * 100vw / 1440);
    }

    .logo img {
        width: calc(38 * 100vw / 1440);
        height: calc(38 * 100vw / 1440);
    }


    .logo h1 {
        width: calc(90 / 1440 * 100vw);
        height: calc(48 / 1440 * 100vw);
        font-size: calc(24 / 1440 * 100vw);
        font-weight: 700;
        line-height: calc(48 / 1440 * 100vw);
    }

    .menu {
        width: auto;
        height: calc(48 / 1440 * 100vw);
        max-width: 600px;
    }

    .ul-menu {
        width: auto;
        height: calc(48 / 1440 * 100vw);
        gap: calc(24 * 100vw / 1440);
        max-width: 600px;
    }

    .ul-menu li a {
        font-size: calc(18 / 1440 * 100vw);
        font-weight: 500;
    }


    .btn-header {
        width: calc(237/ 1440 *100vw);
        height: calc(48 / 1440 *100vw);
        font-size: calc(16 / 1440 * 100vw);
    }

    .btn-header-login {
        width: calc(123/ 1440 *100vw);
        height: calc(48 / 1440 *100vw);
        border-radius: calc(10 / 1440 * 100vw);
        font-size: calc(16 / 1440 * 100vw);
    }

    .btn-header-signup {
        width: calc(102/ 1440 *100vw);
        height: calc(48 / 1440 *100vw);
        border-radius: calc(10 / 1440 * 100vw);
        font-size: calc(16 / 1440 * 100vw);
    }
    .content-header{
        padding-left: calc(40 / 1440 * 100vw);
        gap: calc(80 /1440 * 100vw);
        justify-content: flex-start;
        align-items: center;
    }
} */
/* @media (max-width: 400px) {
    .btn-header{
        display: none;
    }
    .menu{
        display: none;
    }
} */