@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

p,
span,
.medium-text,
li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;

}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.semi-bold-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 10px;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #FFFFFF;
    border: 0.1rem solid #EAECF0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem 4.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    height: 4.8rem;
}

.content-header {
    width: 144rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.content-header .logo img {
    width: 3.8rem;
    height: 3.8rem;
}

.logo h1 {
    width: 9rem;
    height: 4.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.8rem;
    background: linear-gradient(to right, rgb(2, 123, 255), #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: 75.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.ul-menu a.active-menu {
    color: #375DFA;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 75.5rem;
    height: 4rem;
    gap: 2.4rem;
}

.ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-header {
    width: 35.3rem;
    height: 4.8rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-change-languege {
    width: 10.4rem;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding-bottom: 1rem;
}

.btn-change-languege svg {
    width: 6.4rem;
    height: 3.6rem;
}

.flag {
    width: 3.2rem;
    height: 2.4rem;
}

.drop-dow svg {
    width: 2.8rem;
    height: 2.8rem;
    padding-top: 1rem;
}

.btn-header-login {
    width: 12.3rem;
    height: 4.8rem;
    border: 0.1rem solid #D0D5DD;
    background-color: #FFFFFF;
    border-radius: 1rem;
    font-size: 1.6rem;
}

.btn-header-signup {
    width: 10.2rem;
    height: 4.8rem;
    border: none;
    border-radius: 1rem;
    padding: 0;
    background-color: #375DFA;
    color: #FFFFFF;
    font-size: 1.6rem;
}


.mobile-menu-popup {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
    box-shadow: -2px 0 6px rgba(0,0,0,0.1);
}   
.mobile-menu-popup.show {
    right: 0;
}
@media (width <=1440px) {
    html {
        font-size: 8px;
    }
}
.menu-mobile{
    display: none;
}
@media (width <=1228px) {
    html {
        font-size: 7px;
    }
    .menu-mobile{
    display: none;
}
}

@media (width <=1024px) {
    html {
        font-size: 5px;
    }
    .menu-mobile{
    display: none;
}
}

@media (width <=800px) {
    html {
        font-size: 4px;
    }
}

@media (width <=768px) {
    html {
        font-size: 3.5px;
    }
    .menu-mobile{
    display: none;
}
}

@media (width <=480px) {
    html {
        font-size: 3px;
    }
    .content-header{
        width: 125rem;
        justify-content: space-between;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .btn-header{
        width: 18.6rem;
    }
    .btn-header-login, 
    .btn-header-signup {
        display: none;
    }
    .menu-mobile{
        display: block;
        border: none;
        background-color: #FFFFFF;
    }
    .menu-mobile svg {
        padding-top: 1rem;
        width: 4rem;
        height: 4rem;
        background-color: #FFFFFF;
        border: none;
    }
    .menu{
        display: none;
    }
}