@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

p,
span,
.medium-text,
li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;

}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
.semi-bold-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 10px;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #FFFFFF;
    border: 0.1rem solid #EAECF0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem 4.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    height: 4.8rem;
}

.content-header {
    width: 144rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    position: relative;
}

.content-header .logo img {
    width: 3.8rem;
    height: 3.8rem;
}

.logo h1 {
    width: 9rem;
    height: 4.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.8rem;
    background: linear-gradient(to right, rgb(2, 123, 255), #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    width: 75.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.ul-menu a.active-menu {
    color: #375DFA;
}

.mobile-menu-popup .ul-menu a.active-menu {
    color: #375DFA;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 75.5rem;
    height: 4rem;
    gap: 2.4rem;
}

.ul-menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-header {
    width: 35.3rem;
    height: 4.8rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-change-languege {
    width: 10.4rem;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding-bottom: 1rem;
}

.btn-change-languege svg {
    width: 6.4rem;
    height: 3.6rem;
}

.flag {
    width: 3.2rem;
    height: 2.4rem;
}

.drop-dow svg {
    width: 2.8rem;
    height: 2.8rem;
    padding-top: 1rem;
}

.btn-header-login {
    width: 12.3rem;
    height: 4.8rem;
    border: 0.1rem solid #D0D5DD;
    background-color: #FFFFFF;
    border-radius: 1rem;
    font-size: 1.6rem;
}

.btn-header-signup {
    width: 10.2rem;
    height: 4.8rem;
    border: none;
    border-radius: 1rem;
    padding: 0;
    background-color: #375DFA;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.mobile-menu-popup {
    display: none;
}

.menu-mobile svg {
    display: none;
}

.close-menu {
    display: none;
}

.drop-up {
    display: none;
}

.drop-up svg {
    width: 2.8rem;
    height: 2.8rem;
    padding-top: 1rem;
}

.menu-change-langue {
    display: block;
    position: absolute;
    width: 15rem;
    height: 10rem;
    top: 5rem;
    padding: 1rem;
    right: 23rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-180%);
    transition: 0.3s ease;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);
    z-index: 800;
}
.show{
    transform: translateY(0%);
}
.ul-menu-change-langue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.ul-menu-change-langue li{
    font-size: 1.6rem;
    list-style: none;
    width: 100%;
}

@media (width <=1440px) {
    html {
        font-size: 8px;
    }
}



@media (width <=1228px) {
    html {
        font-size: 7px;
    }

    .menu-mobile {
        display: none;
    }
}

@media (width <=1024px) {
    html {
        font-size: 5px;
    }

    .menu-mobile {
        display: none;
    }
}

@media (width <=800px) {
    html {
        font-size: 4px;
    }
}

@media (width <=768px) {
    html {
        font-size: 3.5px;
    }
}

@media (width <=480px) {
    html {
        font-size: 3px;
    }
}

@media (width<=430px) {

    html {
        font-size: 10px;
        overflow-x: hidden;
    }

    header {
        height: 6.4rem;
        width: 100vw;
        padding: 0rem;
    }

    .content-header {
        width: 37.5rem;
        height: 6.4rem;
        justify-content: space-between;
    }

    .logo {
        width: 11.7rem;
        height: 3.6rem;
    }

    .logo h1 {
        width: 7.5rem;
        height: 3.2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.2rem;
        background: linear-gradient(to right, rgb(2, 123, 255), #55BB00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .content-header .logo img {
        width: 3.8rem;
        height: 3.8rem;
    }

    .btn-header {
        width: 11.6rem;
        height: 4rem;
    }

    .btn-header-login,
    .btn-header-signup {
        display: none;
    }

    .menu-mobile {
        display: block;
        border: none;
        background-color: #FFFFFF;
    }

    .menu-mobile svg {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-color: #FFFFFF;
        border: none;
    }

    .flag svg {
        width: 4.2rem;
        height: 2.7rem;
    }

    .btn-change-languege {
        gap: 1rem;
        width: 7.2rem;
        padding: 0rem;
    }

    .drop-dow svg {
        width: 2.8rem;
        height: 2.8rem;
        padding-top: 1rem;
    }

    .drop-up svg {
        width: 2.8rem;
        height: 2.8rem;
        padding-top: 1rem;
    }

    .menu {
        display: none;
    }

    .mobile-menu-popup .ul-menu {
        width: 100vw;
        height: 29.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .close-menu {
        display: none;
        border: none;
        background-color: #FFFFFF;
        width: 2.4rem;
        height: 2.4rem;
        padding-top: 0.5rem;
    }

    .close-menu svg {
        width: 1.35rem;
        height: 1.35rem;
    }

    .mobile-menu-popup {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        max-height: 88.4rem;
        top: 6rem;
        left: 0;
        right: 0;
        background: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(120%);
        transition: 0.3s ease;
        box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);
        z-index: 900;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .mobile-menu-popup.show {
        transform: translateX(0%);

    }

    .mobile-menu-popup ul {
        gap: 1.6rem;
    }

    .mobile-menu-popup ul li {
        list-style: none;
        padding: 1.2rem 0;
        font-size: 1.8rem;
    }

    .mobile-auth {
        padding: 2.4rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        height: 15.6rem;
    }

    .btn-signup {
        width: 100%;
        height: 4.8rem;
        border: none;
        border-radius: 1.2rem;
        background-color: #375DFA;
        color: #FFFFFF;
        font-size: 1.6rem;
    }

    .btn-login {
        width: 100%;
        height: 4.8rem;
        border: 0.1rem solid #D0D5DD;
        border-radius: 1.2rem;
        background-color: #FFFFFF;
        color: #101828;
        font-size: 1.6rem;
    }
    .menu-change-langue{
        right: 1rem;
        width: 10rem;
        height: 10rem;
    }
    .ul-menu-change-langue li{
        font-size: 1.4rem;
    }
}
/* @media(max-width:376px){
    header{
        padding: 0rem 1.6rem;
    }
    .mobile-menu-popup.show {
        transform: translateX(0);

    }
}
@media(max-width:390px){
     header{
        padding: 0rem 1rem;
    }
    .mobile-menu-popup.show {
        transform: translateX(-3%);
    }
}
@media(max-width:280px){
     header{
        padding: 0rem 1rem;
    }
    .mobile-menu-popup.show {
        transform: translateX(-2%);
    }
} */