:root {
    --color-bg-vector-logo-light-green: #EFF3FFBF;
}

.vertor-ze {
    position: relative;
    width: 41.5rem;
    height: 45.2rem;
    margin: 5rem;
}

.ze1 {
    position: absolute;
    width: 41.2rem;
    height: 14.2rem;
    background-color: var(--color-bg-vector-logo-light-green);
    top: 0;
    left: 0;
    border-radius: 10rem;
}

.ze2 {
    position: absolute;
    top: 15.5rem;
    left: -7rem;
    border-radius: 10rem;
    width: 55.2rem;
    height: 14.2rem;
    background-color: var(--color-bg-vector-logo-light-green);
    transform: rotate(-50deg);
}

.ze3 {
    position: absolute;
    width: 14.3rem;
    height: 14.3rem;
    background-color: var(--color-bg-vector-logo-light-green);
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

.vertor-logo {
    position: absolute;
    right: -10rem;
    top: 0;
    z-index: -1;
}

.vertor-logo2 {
    position: absolute;
    left: -10rem;
    z-index: -1;
    top: 0;
}

.vertor-logo3 {
    width: 68.6rem;
    height: 68.5rem;
    position: absolute;
    left: 15%;
    z-index: 1;
    top: -20%;
    opacity: 0.1;
}

.vertor-logo3 .ze1 {
    position: absolute;
    width: 70.6rem;
    height: 21.5rem;
    background-color: var(--color-bg-vector-logo-light-green);
    top: -10%;
    left: -20%;
    border-radius: 10rem;
}

.vertor-logo3 .ze2 {
    position: absolute;
    top: 16.5rem;
    left: -3.5rem;
    width: 75rem;
    height: 21.5rem;
    border-radius: 10rem;
    background-color: var(--color-bg-vector-logo-light-green);
    transform: rotate(-50deg);
}

.vertor-logo3 .ze3 {
    position: absolute;
    width: 21.9rem;
    height: 21.9rem;
    background-color: var(--color-bg-vector-logo-light-green);
    border-radius: 50%;
    bottom: -30%;
    right: -50%;
}

.vertor-logo4 {
    position: absolute;
    right: -10rem;
    top: -5%;
    z-index: -1;
}

.vertor-logo5 {
    position: absolute;
    top: -3rem;
    z-index: 1;
    opacity: 0.3;
}

.vertor-logo5 .ze1 {
    position: absolute;
    width: 24.1rem;
    height: 8.4rem;
    background-color: var(--color-bg-vector-logo-light-green);
    top: -15%;
    left: 1rem;
    border-radius: 10rem;
}

.vertor-logo5 .ze2 {
    position: absolute;
    width: 35.7rem;
    height: 8.4rem;
    top: 4rem;
    left: -3rem;
    border-radius: 10rem;
    background-color: var(--color-bg-vector-logo-light-green);
    transform: rotate(-50deg);
}

.vertor-logo5 .ze3 {
    position: absolute;
    width: 8.4rem;
    height: 8.4rem;
    background-color: var(--color-bg-vector-logo-light-green);
    border-radius: 50%;
    bottom: 60%;
    right: 30%;
}

.vertor-logo6 {
    width: 42.4rem;
    height: 42.4rem;
    position: absolute;
    left: 7rem;
    z-index: 1;
    top: -10rem;
    opacity: 0.1;
}

.vertor-logo6 .ze1 {
    position: absolute;
    width: 42.4rem;
    height: 15rem;
    background-color: var(--color-bg-vector-logo-light-green);
    top: -2rem;
    left: 3rem;
    border-radius: 10rem;
}

.vertor-logo6 .ze2 {
    position: absolute;
    top: 12.5rem;
    left: -3.5rem;
    width: 57rem;
    height: 15rem;
    border-radius: 10rem;
    background-color: var(--color-bg-vector-logo-light-green);
    transform: rotate(-50deg);
}

@media (max-width: 400px) {
    .vertor-logo {
        display: none;
    }

    .vertor-logo2 {
        width: 10rem;
        height: 10rem;
        left: -10%;
        top: -10%;
    }

    .vertor-ze {
        width: 10rem;
        height: 10rem;
    }

    .ze1 {
        position: absolute;
        width: 9.1rem;
        height: 3.1rem;
        background-color: var(--color-bg-vector-logo-light-green);
        border-radius: 10rem;
    }

    .ze2 {
        position: absolute;
        border-radius: 10rem;
        width: 13.557rem;
        height: 3.1rem;
        background-color: var(--color-bg-vector-logo-light-green);
        top: 45%;
        left: -25%;
        transform: rotate(-50deg);
    }

    .ze3 {
        position: absolute;
        width: 3.1rem;
        height: 3.1rem;
        background-color: var(--color-bg-vector-logo-light-green);
        border-radius: 50%;
        bottom: -20%;
        right: 0;
    }
    .vertor-logo3{
        display: none;
    }
    .vertor-logo5{
        display: none;
    }
}