 :root {
     --color-bg-vector-logo-light-green: #EFF3FFBF;
 }

 .vector-logo {
     width: 45.3rem;
     height: 45.2rem;
     position: absolute;
     right: -3rem;
     top: 20rem;
     z-index: -1;

 }

 .vector-logo img {
     width: 100%;
     height: 100%;
          cursor: pointer;
 }

 .vector-logo-2 {
     width: 45.3rem;
     height: 45.2rem;
     position: absolute;
     left: -5rem;
     top: -5rem;
     z-index: -1;
 }

 .vector-logo-2 img {
     width: 100%;
     height: 100%;
 }

 .vector-logo-3 {
     width: 68.6rem;
     height: 68.5rem;
     position: absolute;
     left: 30rem;
     top: -15rem;
     z-index: 0;
 }

 .vector-logo-3 img {
     width: 100%;
     height: 100%;
     opacity: 0.2;
 }

 .vector-logo-4 {
     width: 45.3rem;
     height: 45.2rem;
     position: absolute;
     right: -3rem;
     top: -5rem;
     z-index: -1;
 }

 .vector-logo-4 img {
     width: 100%;
     height: 100%;
 }

 .vector-logo-5 {
     width: 24.176rem;
     height: 26.4rem;
     position: absolute;
     left: 5rem;
     top: -5rem;
     z-index: 0;
 }

 .vector-logo-5 img {
     width: 100%;
     height: 100%;
     opacity: 0.2;
 }
 .vector-logo-6 {
     width: 42.4rem;
     height: 42.4rem;
     position: absolute;
     left: 30rem;
     top: -6rem;
     z-index: 0;
 }

 .vector-logo-6 img {
     width: 100%;
     height: 100%;
     opacity: 0.2;
     
 }


 @media (max-width: 430px) {
     .vector-logo-5 {
         display: none;
     }

     .vector-logo {
         display: none;
     }

     .vector-logo-2 {
         width: 10rem;
         height: 10rem;
         top: 0rem;
         left: -2rem;
     }

     .vector-logo-3 {
         width: 37.8rem;
         height: 37.8rem;
         top: -4rem;
         left: 0rem;
     }

     .vector-logo-4 {
         width: 7.4rem;
         height: 7.4rem;
         top: 0rem;
         right: -3rem;
     }
     .vector-logo-6{
        width: 32.8rem;
        height: 32.8rem;
     }
 }