
.tag-acc {
    display: inline-block;
    width: auto;
    padding: 0.2rem 0.3rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #26B3F7, #99EB53);
    height: auto;
}

.tag-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;        
    width: auto;       
    height: 4rem;         
    background: #fff;
    border-radius: 1.8rem;
    padding-right: 2em;
    padding-left: 2rem;
}

.icon-list {
    position: relative;
    width: 1.8rem;
    height: 0.2rem;
    background: linear-gradient(to right, #26B3F7 20%, #99EB53 80%);
    opacity: 0.9;
}
.tag-inner h6{
    width: auto;
    font-size: 1.8rem;
}
.icon-list::before,
.icon-list::after,
.icon-list .extra {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 0.2rem;
    background: linear-gradient(to right, #26B3F7 20%, #99EB53 80%);
}

/* góc xoay từng thanh */
.icon-list::before {
    transform: rotate(-50deg);
}

.icon-list::after {
    transform: rotate(90deg);
    background: linear-gradient(to top, #4ebcf3, #99EB53);
}

.icon-list .extra {
    transform: rotate(50deg);
}

@media (width<=400px) {
    .tag-inner h6{
        width: auto;
        font-size: 1.2rem;
    }
    .tag-inner {
    gap: 0.6rem;        
    width: auto;       
    height: 2.4rem;         
    border-radius: 1.8rem;
    padding-right: 1.2em;
    padding-left: 1rem;
}


}