.tag-acc {
    display: inline-block;
    width: auto;
    padding: 0.2rem 0.2rem;
    border-radius: 2rem;
    background: linear-gradient(135deg, #027BFF, #4da3ff, #80c4ff);
    height: auto;
}

.tag-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: auto;
    height: 3.5rem;
    background: #fff;
    border-radius: 1.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.icon-list {
    position: relative;
    width: 1.8rem;
    height: 0.2rem;
    background: linear-gradient(to right, #027BFF 20%, #80c4ff 80%);
    opacity: 0.9;
}

.tag-inner .tag-label {
    width: auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: #0066db;
}

.icon-list::before,
.icon-list::after,
.icon-list .extra {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 0.2rem;
    background: linear-gradient(to right, #027BFF 20%, #80c4ff 80%);
}

.icon-list::before {
    transform: rotate(-50deg);
}

.icon-list::after {
    transform: rotate(90deg);
    background: linear-gradient(to top, #027BFF, #80c4ff);
}

.icon-list .extra {
    transform: rotate(50deg);
}

@media (width<=768px) {
    .tag-inner .tag-label {
        width: auto;
        font-size: 1.2rem;
    }

    .tag-inner {
        gap: 0.6rem;
        width: auto;
        height: 2.4rem;
        border-radius: 1.8rem;
        padding-right: 1.2em;
        padding-left: 1rem;
    }


}
