.features {
   position: relative;
   width: 100%;
   height: 102.9rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-top: 9.6rem;
}

.features-title {
   width: 124.8rem;
   height: 15.8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.features-title h1 {
   font-size: 3.2rem;
}

.features-title p {
   font-size: 1.8rem;
   text-align: center;
   width: 40%;
}

.features-title>*:nth-child(2) {
   margin-top: 1.6rem;
}

.features-title>*:nth-child(3) {
   margin-top: 1rem;
}

.features-1 {
   width: 124.8rem;
   height: 67.9rem;
   border: 0.1rem solid #D0D5DD;
   border-radius: 2.4rem;
   overflow: hidden;
}

.feature-detail {
   width: 124.8rem;
   height: 60.6rem;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 4rem;
   padding: 8rem 0 8rem 8rem;
}

.content-feature-detail {
   width: 42rem;
   height: auto;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   justify-content: center;
}

.content-feature-detail h2 {
   font-size: 2.8rem;
   font-weight: 600;
}

.content-feature-detail p {
   width: 100%;
   font-size: 1.8rem;
   font-weight: 600;
   text-align: left;
}

.box-img-feature {
   width: 70rem;
   height: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
}

.feature-detail img {
   width: auto;
   height: auto;
   max-width: 79rem;
   max-height: 44.6rem;
   border-radius: 2.4rem;
   border: 0.4rem solid #BDE4FF;
}

.features-title h1 {
   font-size: 3.2rem;
   font-weight: 600;
   text-align: center;
}

.features-title p {
   font-size: 1.8rem;
   font-weight: 500;
   text-align: center;
   margin-top: 1.6rem;
   color: #475467;
}

.menu-features-1 {
   width: 124.8rem;
   height: 7.2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 0.1rem solid #D0D5DD;
   border-radius: 2.4rem 2.4rem 0 0;
   font-size: 1.6rem;
   font-weight: 600;
}

.menu-features-1 button.active-menu-feature {
   background: #375DFA;
   color: #FFFFFF;
   transition: 0.3s;
}

.menu-features-1 button:first-child {
   border-radius: 2.4rem 0 0 0;
}

.menu-features-1 button:last-child {
   border-radius: 0 2.4rem 0 0;
}

.menu-features-1 button {
   width: 20.76rem;
   height: 100%;
   border: none;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.8rem 1.6rem;
   background: transparent;
   cursor: pointer;
   gap: 0.8rem;
}

.menu-features-1 button p {
   font-size: 1.5rem;
}

.box-icon {
   width: 3.2rem;
   height: 3.2rem;
   background: #375DFA;
   color: #FFFFFF;
   font-size: 1.5rem;
   border-radius: 0.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.box-icon p {
   font-size: 1.3rem;
}

.active-menu-feature .box-icon {
   background: #FFFFFF;
   color: #375DFA;
}

.box-icon ion-icon {
   width: 2.5rem;
   height: 2.5rem;
}

.box-icon svg {
   width: 2.4rem;
   height: 2.4rem;
   color: #ffffff;
}

.active-menu-feature .box-icon svg {
   color: #375DFA;
}

@media (width<=400px) {
   .features {
      width: 37.5rem;
      height: 58.7rem;
      padding: 3.2rem 1.6rem;
      display: flex;
      justify-content: space-between;
   }

   .features-title {
      width: 34.3rem;
      height: 11.2rem;
   }

   .features-title h1 {
      font-size: 1.8rem;
   }

   .features-title p {
      font-size: 1.4rem;
      width: 100%;
   }

   .features-1 {
      width: 34.3rem;
      height: 38.7rem;
   }

   .menu-features-1 {
      width: 34.3rem;
      height: 4.8rem;
   }


   .menu-features-1 button {
      width: 5.7rem;
      height: 100%;
   }

   .menu-features-1 button p {
      display: none;
   }

   .box-icon svg {
      width: 1.5rem;
      height: 1.5rem;
   }

   .box-icon {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 0.8rem;
   }

   .content-feature-detail {
      width: 31rem;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: center;
   }

   .content-feature-detail h2 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;
   }

   .content-feature-detail p {
      width: 100%;
      height: 6rem;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: left;
      color: #475467;
   }

   .feature-detail {
      width: 34.3rem;
      height: 33.9rem;
      flex-direction: column;
      gap: 2.4rem;
      padding: 2.4rem 1.6rem;
   }

   .box-img-feature {
      width: 31.1rem;
      height: 17.5rem;
   }

   .feature-detail img {
      width: auto;
      height: auto;
      max-width: 31.1rem;
      max-height: 17.5rem;
      border-radius: 1.2rem;
      border: 0.4rem solid #BDE4FF;
   }
}