.features {
   position: relative;
   width: 100%;
   height: 1029px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-top: 96px;
}

.features-title {
   width: 1248px;
   height: 158px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.features-title>*:nth-child(2) {
   margin-top: 16px;
}


.features-title>*:nth-child(3) {
   margin-top: 10px;
}

.features-1 {
   width: 1248px;
   height: 679px;
   border: 1px solid #D0D5DD;
   border-radius: 24px;
   overflow: hidden;
}

.feature-detail {
   width: 1248px;
   height: 606px;
   display: flex;
   justify-content: center;
   align-items: start;
   gap: 40px;
   padding: 80px 0px 80px 80px;
}

.content-feature-detail {
   width: 420px;
   height: auto;
   display: flex;
   flex-direction: column;
   gap: 30px;
   justify-content: center;
}

.content-feature-detail h2 {
   font-size: 28px;
   font-weight: 600;
}

.content-feature-detail p {
   width: 100%;
   font-size: 18px;
   font-weight: 600;
   text-align: left;
}

.box-img-feature {
   width: 700px;
   height: 100%;
   background-color: azure;
   overflow-x: hidden;
   overflow-y: hidden;
}

.feature-detail img {
   width: 790px;
   height: 446px;
   border-radius: 24px;
   border: 4px solid #BDE4FF;
}

.features-title h1 {
   font-size: 32px;
   font-weight: 600;
   text-align: center;
}

.features-title p {
   font-size: 18px;
   font-weight: 500;
   text-align: center;
   margin-top: 16px;
   color: #475467;
}



.menu-features-1 {
   width: 1248px;
   height: 72px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   border: 1px solid #D0D5DD;
   border-radius: 24px 24px 0px 0px;
   font-size: 16px;
   font-weight: 600;
}

.menu-features-1 button.active-menu-feature {
   background: #375DFA;
   color: #FFFFFF;
   transition: 0.3s;
}

.menu-features-1 button:first-child {
   border-radius: 24px 0 0 0;
}

.menu-features-1 button:last-child {
   border-radius: 0 24px 0 0;
}

.menu-features-1 button {
   width: 178px;
   height: 100%;
   border: none;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   border: none;
   background: transparent;
   cursor: pointer;
   gap: 8px;
}

.box-icon {
   width: 32px;
   height: 32px;
   background: #375DFA;
   color: #FFFFFF;
   font-size: 15px;
   border-radius: 8px;
   display: flex;
   /* cho icon text ở giữa */
   align-items: center;
   justify-content: center;
}
.box-icon p{
   font-size: 13px;
}
.active-menu-feature .box-icon {
   background: #FFFFFF;
   color: #375DFA;
}

.box-icon ion-icon {
   width: 25px;
   height: 25px;
}

.box-icon svg {
   width: 24px;
   height: 24px;
   color: #ffffff;
   /* màu mặc định */
}

.active-menu-feature .box-icon svg {
   color: #375DFA;
   /* màu khi active */
}
