.container {
    position: relative;
    width: 100%;
    height: auto;
}

.hero {
    width: 100vw;
    height: calc(112rem - 8.8rem);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        url("/img/grid\ \(1\).svg") no-repeat center/cover,
        linear-gradient(to bottom, #375DFA, #f2f4fb);
}

.square {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: #FFFFFF;
    opacity: 0.1;
}

.square-5 {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 118.6rem;
    height: 120rem;
    background: linear-gradient(rgba(202, 216, 255, 0.1),
            rgba(226, 238, 255, 0.1),
            rgba(194, 220, 255, 0.1));
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    z-index: 1;
    overflow: hidden;
}

.square-5::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 0.1rem;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.2));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.square-6 {
    width: 8.4rem;
    height: 28.4rem;
    left: 9rem;
    top: 7rem;
    border: 0.1rem solid rgba(255, 255, 255);
    border-radius: 2rem;
    opacity: 0.3;
}

.square-7 {
    width: 8.4rem;
    height: 33.4rem;
    right: 9rem;
    top: 9rem;
    border: 0.1rem solid rgba(255, 255, 255);
    border-radius: 2rem;
    background-color: #FFFFFF;
    opacity: 0.3;
}

.img-customer-ratio {
    position: absolute;
    left: 3.3rem;
    top: 20rem;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.img-customer-ratio img {
    width: 25.1rem;
    height: auto;
}

.mouse-hero {
    position: absolute;
    top: 24rem;
    left: 27rem;
    transform: translateX(-50%);
    border-radius: calc(2rem * 100vw / 1440);
    z-index: 10;
    overflow: hidden;
}

.mouse-hero img {
    width: 7.2rem;
    height: auto;
}

.head-line-hero {
    z-index: 2;
    width: 100%;
    height: 34.3rem;
    text-align: center;
    margin-top: 3rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;

}

.head-line-hero h2 {
    width: 81.9rem;
    font-size: 5.6rem;
    font-weight: 700;
    color: #FFFFFF;
}

.head-line-hero div {
    margin-top: 1rem;
    font-size: 2rem;
}

.div-img-dashBoard img {
    width: 87.6rem;
    height: 54rem;
    margin: 4.5rem auto;
    display: block;
    z-index: 4;
}

.experience.bottom,
.experience.top {
    z-index: 3;
    width: 25.2rem;
    height: 5.6rem;
    border-radius: 1.2rem;
    background-color: #375DFA;
    border: 0.1rem solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1.6rem;
    box-shadow: 0 0 0.3rem 0.1rem rgba(255, 255, 255, 0.4);
}

.experience.bottom {
    left: 0;
}
