@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

.price-container {
    width: 100%;
    height: 131.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    position: relative;
}

.price-title {
    width: 124.8rem;
    height: 16.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.price-title h1 {
    font-size: 3.2rem;
}

.price-title p {
    width: 40%;
    font-size: 1.8rem;
    color: #475467;
    font-weight: 500;
    line-height: 2.8rem;
    text-align: center;
}

.price-content {
    width: 124.8rem;
    height: 67.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-bottom {
    width: 124.8rem;
    height: 16rem;
}

.price-conten-packages {
    width: 100%;
    height: 10.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-price-conten-packages h2 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.left-price-conten-packages p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #475467;
}

.price-content-container {
    width: 100%;
    height: 51.9rem;
}

.menu-price {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background: #5682FD;
    width: 28.7rem;
    height: 4.8rem;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.8rem;
}

.menu-price button {
    background: #5682FD;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 0.3s;
    width: 9.6rem;
    height: 4rem;
    font-size: 1.5rem;
}

.menu-price button:hover,
.menu-price button.active {
    background: #FFFFFF;
    color: #101828;
    width: 9.6rem;
    height: 4rem;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
    max-width: 124.8rem;
}

.product {
    background: #fff;
    border-radius: 2.4rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    width: 29.4rem;
    height: 51.9rem;
    padding: 4rem 0 4rem 0;
    text-align: center;
    position: relative;
    transition: transform 0.3s, opacity 0.4s;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product:hover {
    transform: scale(1.05);
}

.price-content-container ul {
    padding-top: 0.2rem;
    border-top: 0.1rem dashed #D0D5DD;
}

.product.hot {
    border: 0.3rem solid #375DFA;
    /* box-shadow: 0 0 1.5rem #5172f7; */
}
.product.hot ul {
    width: 99%;
    padding-top: 0.2rem;
    border-top: 0.1rem dashed #D0D5DD;
}

.product.hot::after {
    content: " HOT ";
    position: absolute;
    top: -2rem;
    left: 40%;
    background: linear-gradient(45deg, #ff0000, #ff6b6b);
    color: white;
    padding: 0.4rem 1.2rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.name-price {
    margin-top: 0rem;
    width: 100%;
    height: 10rem;
    padding-bottom: 2rem;
}

.product h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.price h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: italic;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem;
    text-align: center;
    color: #333;
}

.name-price h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 4.8rem;
    text-align: center;
    color: #475467;
}

.price {
    color: #101828;
    font-weight: bold;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price p {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.product.hot .price {
    background: linear-gradient(to right, #0058B6, #55BB00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.price-container ul {
    width: 29.4rem;
    height: 27.5rem;
    text-align: left;
    padding: 4rem 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.price-container ul li {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.6rem;
    color: #475467;
    font-weight: 500;
}

.price-container ul li i.fa-check {
    color: #FF82F9;
    margin-right: 0.6rem;
}

.price-container ul li i.fa-xmark {
    color: #475467;
    margin-right: 0.6rem;
}

.btn-bynow {
    width: 23rem;
    height: 5.6rem;
    border-radius: 1.2rem;
    background-color: #FFFFFF;
    border: 0.1rem solid #D0D5DD;
    font-size: 2rem;
}

.btn-bynow-bander {
    width: 15.6rem;
}

.product.hot .btn-bynow {
    width: 23rem;
    height: 5.6rem;
    border-radius: 1.2rem;
    background-color: #375DFA;
    border: 0.1rem solid #D0D5DD;
    color: #fff;
}

.price-bottom {
    position: relative;
    width: 124.8rem;
    height: 14.8rem;
    background-image: linear-gradient(to right, rgba(0, 88, 182, 0.9) 0%, rgba(29, 171, 80) 100%);
    border-radius: 2rem;
    padding: 3.2rem 4.8rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-bottom-box-1 {
    margin-right: 2rem;
    color: #FFFFFF;
}

.price-bottom-box-1 h2 {
    font-size: 2.8rem;
}

.price-bottom-box-1 p {
    font-size: 1.8rem;
}

.price-bottom-box-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price-bottom-box-2 h3 {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFFFFF;
}

.price-bottom-box-2 h2 {
    font-size: 4.8rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: italic;
    color: #FFFFFF;
}

.price-bottom-box-2 p {
    margin-top: 1.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: italic;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.price-bottom::after {
    margin-top: 3.2rem;
    height: 8.4rem;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: inherit;
    background-image: linear-gradient(to right,
            transparent 0%,
            transparent 30%,
            white calc(30% + 0.2rem),
            transparent calc(30% + 0.4rem),
            transparent 55%,
            white calc(55% + 0.2rem),
            transparent calc(55% + 0.4rem));
    opacity: 0.6;
}

@media (max-width: 430px) {
    .price-container {
        width: 37.5rem;
        height: auto;
        padding: 3.2rem 1.6rem;
        margin: 0rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.4rem;
    }

    .price-title {
        width: 34.3rem;
        height: auto;
        height: 11.2rem;
    }

    .price-title h1 {
        font-size: 1.8rem;
    }

    .price-title p {
        font-size: 1.4rem;
        width: 34.3rem;
    }

    .price-content {
        width: 34.3rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;
    }

    .price-conten-packages {
        width: 34.3rem;
        height: 17.2rem;
    }

    .price-conten-packages {
        flex-direction: column;
        justify-content: space-between;
        width: 34.3rem;
        height: 17.2rem;
        padding: 1.6rem 0rem 1.6rem 0rem;
    }

    .left-price-conten-packages h2 {
        text-align: center;
        font-size: 1.6rem;
    }

    .left-price-conten-packages p {
        font-size: 1.4rem;
        text-align: center;
    }

    .product-container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 2.4rem;
        margin-left: 2.5rem;
    }

    .price-content-container {
        height: 100%;
    }

    .product-container {
        height: 100%;
    }

    .price-bottom {
        flex-direction: column;
        width: 34.3rem;
        height: 45.6rem;
    }

    .price-bottom::after {
        width: 29rem;
        margin: 0 auto;
        height: 45.6rem;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: inherit;
        background-image: linear-gradient(to bottom,
                transparent 0%,
                transparent 22%,
                white calc(22% + 0.1rem),
                transparent calc(22% + 0.2rem),
                transparent 50%,
                white calc(50% + 0.1rem),
                transparent calc(50% + 0.2rem));
        opacity: 0.3;
    }

    .price-bottom-box-1 {
        margin: 0rem;
        text-align: center;
    }

    .price-bottom-box-1 h2 {
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
    }

    .price-bottom-box-1 p {
        font-size: 1.4rem;
    }

    .price-bottom-box-2 {
        text-align: center;
    }

    .btn-bynow-bander {
        width: 29.5rem;
        font-style: 1.6rem;
        color: #101828;
    }
}