.sales-feedback {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sales-feedback-container {
    width: auto;
    height: 66.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    padding: 0 9.6rem 3.2rem 9.6rem;
}

.sales-feedback-title {
    width: 124.8rem;
    height: 14.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.left-sales-feedback-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.left-sales-feedback-title h2 {
    width: 31.2rem;
    font-weight: 600;
    font-size: 3.2rem;
}

.sales-feedback-title p {
    padding-top: 2rem;
    width: 48.2rem;
    height: 10.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #475467;
    line-height: 2.8rem;
    text-align: start;
}

.sales-feedback-content {
    width: 100%;
    height: 45.5rem;
    position: relative;
    display: flex;
    gap: 4rem;
}

.sales-feedback-content-box {
    width: 35.5rem;
    height: 34.4rem;
    border: 0.1rem solid #D0D5DD;
    border-radius: 2.4rem;
    padding: 2.4rem 2.4rem 3.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-sales-feedback-content-box {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.6rem;
    position: relative;
}

.head-sales-feedback-content-box>div {
    display: grid;
    grid-template-rows: auto auto;
}

.head-sales-feedback-content-box img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

.head-sales-feedback-content-box h2 {
    font-size: 2rem;
    font-weight: 500;
}

.head-sales-feedback-content-box p {
    color: #375DFA;
}

.head-sales-feedback-content-box::after {
    position: absolute;
    content: '';
    width: 30.7rem;
    height: 0.2rem;
    background-color: #EAECF0;
    top: 120%;
}

.main-sales-feedback-content {
    width: 30.7rem;
    height: 20rem;
}

.main-sales-feedback-content p {
    margin-top: 2rem;
    width: 100%;
    height: 14.4rem;
    padding-bottom: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.start-feedback-sales {
    font-size: 3.2rem;
    color: #FF7F22;
}

.box-sales-1 {
    position: relative;
    top: 1.5rem;
    left: -1rem;
}

.box-sales-2 {
    position: relative;
    top: 0.5rem;
    left: -1rem;
}

.box-sales-3 {
    position: relative;
    top: 1rem;
    left: -1rem;
}

.box-sales-4 {
    position: relative;
    top: 0;
    left: -1rem;
}

@media (max-width: 400px) {
    .container {
        height: auto;
        margin: 0 auto;
    }

    .sales-feedback {
        width: 37.5rem;
        height: 116rem;
    }

    .sales-feedback-container {
        height: 116rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;;
    }

    .sales-feedback-title {
        width: 34.3rem;
        height: 14.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-sales-feedback-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-sales-feedback-title h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    .sales-feedback-title p {
        font-size: 1.4rem;
        text-align: center;
        width: 34.3rem;
        height: 8rem;
    }

    .sales-feedback-content {
        flex-direction: column;
        align-items: center;
        
        gap: 2rem;
        height: 92.8rem;
    }

    .sales-feedback-content-box {
        width: 34.3rem;
        height: 22rem;
        border: 0.1rem solid #D0D5DD;
        border-radius: 1.2rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-sales-feedback-content {
        width: 30.7rem;
        height: 11.6rem;
    }

    .main-sales-feedback-content p {
        font-size: 1.4rem;
        height: 8rem;
         padding-bottom: 0rem;
          line-height: 2rem
    }

    .start-feedback-sales {
        font-size: 2.4rem;
        color: #FF7F22;
    }
}