.content-article-1 {
    width: 144rem;
    height: 151.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    gap: 4.9rem;
}


.content-article-1 h1 {
    font-size: 3.2rem;
    padding-left: 9.6rem;
}


.container-list-article-1 {
    max-width: 124.8rem;
    height: 123.1rem;
    margin: 0 auto;
    background: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 2.4rem;
    row-gap: 4.9rem;

}

.item-article {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

.item-article-content {
    color: #101828;
}

.item-article h3 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    line-height: 1.4;
}

.item-article .date {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* item-article 1: 4 cột x 4 hàng */
.item-article-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.item-article-1 img {
    width: 100%;
    height: 55rem;
    object-fit: cover;
    display: block;
    border-radius: 1.6rem;
}

/* item-article 2: 2 cột x 2 hàng */
.item-article-2 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
    height: 33.9rem;
}

.item-article-2 img,
.item-article-3 img {
    width: 100%;
    height: 23.1rem;
    object-fit: cover;
    display: block;
    border-radius: 1.6rem;
}

/* item-article 3: 2 cột x 2 hàng */
.item-article-3 {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
    height: 33.9rem;
}

/* item-article 4: 3 cột x 3 hàng */
.item-article-4 {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
    height: 48rem;
}

/* item-article 5: 3 cột x 3 hàng */
.item-article-5 {
    grid-column: 4 / 7;
    grid-row: 5 / 8;
    height: 48rem;
}

.item-article-4 img,
.item-article-5 img {
    width: 100%;
    height: 37.2rem;
    object-fit: cover;
    display: block;
    border-radius: 1.6rem;
}