.container-article {
    width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-article {
    width: 144rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    align-items: center;
    gap: 9.6rem;
}

@media (max-width:430px) {
    .container-article {
        width: 37.5rem;
        height: calc(177.191rem + 210.85rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }
}